@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html {
  scroll-behavior: smooth;
  color: #909090;
}

header {
  display: flex;
}
header .header__logo img {
  width: 60px;
}

header {
  background: white;
  margin: 0;
  padding: 0;
}
header .nave {
  display: flex;
  justify-content: space-between;
}
header .nave li a {
  font-size: 30px;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

header .nave .li {
  text-align: center;
}
header .nave .li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

@-webkit-keyframes checked-anim {
  100% {
    width: 3000px;
    height: 500px;
  }
  100% {
    width: 100%;
    height: 50%;
    border-radius: 0;
  }
}

@keyframes checked-anim {
  100% {
    width: 3000px;
    height: 500px;
  }
  100% {
    width: 100%;
    height: 50%;
    border-radius: 0;
  }
}
@-webkit-keyframes not-checked-anim {
  0% {
    width: 500px;
    height: 300px;
  }
}
@keyframes not-checked-anim {
  0% {
    width: 500px;
    height: 300px;
  }
}
li,
a {
  border: 1 solid;
  margin: 75px 0 -55px 0;
  color: #fff;
  font: 14pt "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
  display: none;
}

li {
  text-align: center;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

#trigger,
#burger,
#burger:before,
#burger:after {
  position: absolute;
  top: 25px;
  right: 25px;
  background: #999;
  width: 30px;
  height: 5px;
  transition: 0.2s ease;
  cursor: pointer;
  z-index: 1;
}

#trigger {
  height: 25px;
  background: none;
  z-index: 4;
}

#burger:before {
  content: " ";
  top: 10px;
  left: 0;
}

#burger:after {
  content: " ";
  top: 20px;
  left: 0;
}

#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform 0.2s ease;
}

#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform 0.2s ease;
}

#menu {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 110px;
  height: 0px;
  border-bottom-right-radius: 100%;
  -webkit-animation: not-checked-anim 0.5s both;
          animation: not-checked-anim 0.5s both;
  transition: 0.2s;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

#menu-toggle:checked + #trigger + #burger + #menu {
  -webkit-animation: checked-anim 1s ease both;
          animation: checked-anim 1s ease both;
}

#menu-toggle:checked + #trigger ~ #menu > li,
a {
  display: block;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  display: none;
}

@media (min-width: 100px) {
  .header__logo--nav .header__img--nav {
    padding: 5px 5px;
    width: 80px;
    float: right;
  }
}
@media (min-width: 768px) {
  .header__logo .header__img {
    display: none;
  }
}
@media (min-width: 925px) {
  .header__logo--nav .header__img--nav {
    padding: 10px;
    width: 80px;
    float: right;
  }
}
.portada {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.portada .portada__img {
  background-image: url("../images/slider.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.portada_title {
  margin-top: 50px;
  padding: 0 40px;
  text-align: center;
}

.portada_title {
  position: absolute;
  color: white;
  font-size: 12px;
}
.portada_title h3 {
  color: #999;
}
.portada_title .title__principal {
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

video::-webkit-media-controls {
  display: none;
}

.description {
  padding: 0 5px 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}
.description h1 {
  color: #7a7a7a;
  font-family: "Roboto", sans-serif;
}
.description .description__parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 2;
  color: #909090;
}

.portafolio {
  padding: 0 10px 70px;
}
.portafolio h2 {
  color: #7a7a7a;
}
.portafolio p {
  line-height: 1.8571428571;
  font-family: "Roboto", sans-serif;
}
.portafolio .btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 15px;
  border-color: #c4c4c4;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
}

/*--------------------------------------------------------------*/
.ef-carousel {
  text-align: center;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 70px;
}
.ef-carousel__state {
  display: none;
}
.ef-carousel__next, .ef-carousel__prev {
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  right: 10px;
  color: #000;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  z-index: 1;
  transition: opacity 100ms linear;
}
.ef-carousel__next:before, .ef-carousel__prev:before {
  content: ">";
}
.ef-carousel__next:hover, .ef-carousel__prev:hover {
  opacity: 0.8;
}
.ef-carousel__prev {
  right: auto;
  left: 10px;
}
.ef-carousel__prev:before {
  content: "<";
}
.ef-carousel__dot {
  cursor: pointer;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
.ef-carousel__items {
  white-space: nowrap;
  font-size: 0;
  margin: 0 0 5px;
}
.ef-carousel__item {
  max-width: 100%;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 600ms linear;
}
.ef-carousel__item:first-child {
  position: relative;
}
.ef-carousel__state:checked:nth-child(1) ~ .ef-carousel__dots .ef-carousel__dot:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.8);
}
.ef-carousel__state:checked:nth-child(1) ~ .ef-carousel__items .ef-carousel__item:nth-child(1) {
  opacity: 1;
}
.ef-carousel__state:checked:nth-child(1) ~ .ef-carousel__prev-group .ef-carousel__prev:nth-child(1), .ef-carousel__state:checked:nth-child(1) ~ .ef-carousel__next-group .ef-carousel__next:nth-child(1) {
  display: block;
}
.ef-carousel__state:checked:nth-child(2) ~ .ef-carousel__dots .ef-carousel__dot:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.8);
}
.ef-carousel__state:checked:nth-child(2) ~ .ef-carousel__items .ef-carousel__item:nth-child(2) {
  opacity: 1;
}
.ef-carousel__state:checked:nth-child(2) ~ .ef-carousel__prev-group .ef-carousel__prev:nth-child(2), .ef-carousel__state:checked:nth-child(2) ~ .ef-carousel__next-group .ef-carousel__next:nth-child(2) {
  display: block;
}
.ef-carousel__state:checked:nth-child(3) ~ .ef-carousel__dots .ef-carousel__dot:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.8);
}
.ef-carousel__state:checked:nth-child(3) ~ .ef-carousel__items .ef-carousel__item:nth-child(3) {
  opacity: 1;
}
.ef-carousel__state:checked:nth-child(3) ~ .ef-carousel__prev-group .ef-carousel__prev:nth-child(3), .ef-carousel__state:checked:nth-child(3) ~ .ef-carousel__next-group .ef-carousel__next:nth-child(3) {
  display: block;
}

.services {
  padding: 0 10px 70px;
}
.services h1 {
  font-size: 24px;
  line-height: 1.5;
}
.services .services__img .service__ico {
  display: flex;
  padding-top: 15px;
}
.services .services__img .service__ico img {
  width: 40px;
}
.services .services__img .service__ico p {
  font-size: 14px;
  padding-left: 10px;
}

/*.contacto {
  background-image: url("../images/contacto2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  .contacto_title {
    position: absolute;
    content: "";
    text-align: center;
    color: white;
    z-index: 2;
  }
  .iconos__contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #222;
    opacity: 0.9;
    color: white;
    z-index: 1;

    .size {
      font-size: 40px;
      color: white;
    }

    .contacto__ico {
      text-align: center;
      padding: 80px 50px 0;
    }
  }
}
*/
.contacto {
  text-align: center;
  width: 100%;
  color: white;
  background-image: url("../images/contacto2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacto .iconos__contacto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contacto .iconos__contacto .contacto__ico {
  margin: 50px;
}
.contacto .iconos__contacto .contacto__ico .size {
  font-size: 40px;
  color: white;
}

footer {
  background: #333232;
  padding: 10px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */