.contact {
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
  color: white;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("../images/contacto2.jpg") no-repeat center center fixed;
  background-size: cover;

  .contact__title {
    padding: 20px;
  }
  .iconos__contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-around;
    .contact__ico {
      padding: 5px 16px;
      .size {
        font-size: 40px;
        color: white;
      }
    }
  }
}
@media (min-width: 480px) {
  .contact {
    .contact_title {
      font-size: 30px;
    }
    .iconos__contact {
      font-size: 16px;
    }
  }
}
@media (min-width: 1300px) {
  .contact {
    .iconos__contact {
      display: flex;
      justify-content: space-around;
    }
  }
}
