/*.contacto {
  background-image: url("../images/contacto2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  .contacto_title {
    position: absolute;
    content: "";
    text-align: center;
    color: white;
    z-index: 2;
  }
  .iconos__contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #222;
    opacity: 0.9;
    color: white;
    z-index: 1;

    .size {
      font-size: 40px;
      color: white;
    }

    .contacto__ico {
      text-align: center;
      padding: 80px 50px 0;
    }
  }
}
*/
.contacto {
  text-align: center;
  width: 100%;
  color: white;
  background-image: url("../images/contacto2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .iconos__contacto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .contacto__ico {
      margin: 50px;
      .size {
        font-size: 40px;
        color: white;
      }
    }
  }
}
