.description {
  padding: 0 5px 70px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  .description__title {
    color: #7a7a7a;
    font-family: "Montserrat";
    text-align: center;
  }
  .description__parrafo {
    font-size: 14px;
    text-align: center;
    line-height: 2;
    color: #909090;
    font-family: "Montserrat";
  }
}

@media (min-width: 480px) {
  .description {
    padding: 70px 16px;
    .description__title {
      font-size: 40px;
    }
    .description__parrafo {
      font-size: 16px;
    }
  }
}
@media (min-width: 881px) {
  .container {
    .container_caracter {
      padding-top: 72px;
      padding-right: 32px;
      padding-left: 32px;
      padding-bottom: 48px;
      display: flex;

      .description {
        padding: 0 64px 0 0;
        width: 60%;
        .description__title,
        p {
          text-align: left;
        }
      }
    }
  }
}
