html {
  scroll-behavior: smooth;
  color: #909090;
  font-family: "Montserrat";
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
header {
  background: #fff;
  display: flex;

  .header__logo {
    img {
      width: 60px;
    }
  }
}
