header {
  background: #fff;
  position: relative;
  z-index: 3;

  .container__header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    //max-width: 1200px;
    //margin: 0 auto;
    .header__logo {
      img {
        width: 60px;
      }
    }
  }
}
