@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
  color: rgba(51, 51, 51, 0.9);
}

header {
  color: #fff;
  position: relative;
  z-index: 3;
}
.boton-menu {
  width: 98%;
  margin: auto;
}
header .boton-menu {
  display: table;
}

header label {
  float: right;
  font-size: 30px;
  margin: 0 16px;
  cursor: pointer;
}

.menu {
  padding-top: 50px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 60vh;
  background: rgba(51, 51, 51, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu a {
  display: block;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
}

#menu-bar {
  display: none;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
  transform: translateX(0%);
}
@media (min-width: 320px) {
  .menu {
    text-align: center;
  }
}
