.portafolio {
  padding: 0 10px;
  h2 {
    color: #7a7a7a;
  }
  p {
    line-height: 1.85714285714286;
    font-family: "Roboto", sans-serif;
  }
}
.portafolio_description {
  padding: 0 10px;
  h2 {
    color: #7a7a7a;
  }
  p {
    line-height: 1.85714285714286;
    font-family: "Roboto", sans-serif;
  }
  button {
    border-radius: 20px;
    padding: 10px 15px;
    border-color: #c4c4c4;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
  }
}
/*--------------------------------------------------------------*/
