.portafolio {
  padding: 0 10px 70px;
  font-family: "Montserrat";

  .portafolio__title {
    color: #7a7a7a;
    text-align: center;
  }
  .portafolio__container {
    .portafolio__parrafo {
      line-height: 1.85714285714286;
    }
    .btn {
      cursor: pointer;
      border-radius: 20px;
      padding: 10px 15px;
      border-color: #c4c4c4;
      border-style: solid;
      border-top-width: 1px;
      border-right-width: 1px;
      border-left-width: 1px;
      border-bottom-width: 1px;
    }
  }
}

/*--------------------------------------------------------------*/
@media (min-width: 480px) {
  .portafolio {
    padding: 0 16px 70px;
    .portafolio__title {
      font-size: 30px;
    }
    .portafolio__parrafo {
      font-size: 16px;
    }
  }
}

@media (min-width: 881px) {
  .portafolio {
    padding: 0 32px;
    .portafolio__title {
      text-align: left;
    }
    .portafolio__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .portafolio__parrafo {
        width: 80%;
      }
      .btn {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
}
