.projects {
  text-align: justify;
  font-family: "Montserrat";

  .projects__title {
    color: #7a7a7a;
    text-align: center;
  }
  .projects__container {
    padding: 0 10px;
    .projects__parrafo {
      line-height: 1.85714285714286;
    }
    .hand {
      margin: 40px 0;
    }
    .projects__btn {
      margin-top: 20px;
      cursor: pointer;
      border-radius: 20px;
      border: solid 1px #7a7a7a;
      color: #7a7a7a;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 20px;
    }
  }
}
.projects {
  .cover__project {
    img {
      width: 100%;
    }
  }
}

/*--------------------------------------------------------------*/
@media (min-width: 480px) {
  .projects {
    padding: 0 0 70px;
    .projects__title {
      font-size: 30px;
    }
    .projects__parrafo {
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) {
  .projects {
    padding: 0 0 32px;
    .projects__title {
      text-align: left;
    }
    .cover__project {
      position: relative;
      min-width: 500px;
    }

    .projects__container {
      position: absolute;
      top: 300px;
      right: 0;
      left: 0;
      bottom: 0;
      border-radius: 20px;
      margin: 0 auto;
      width: 90%;
      height: 400px;
      background: #fff;
      padding: 40px 32px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .projects__btn {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        margin-top: 40px;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      .projects__btn:hover {
        background-color: #106610;
      }
    }
  }
}

@media (min-width: 1024px) {
  .projects {
    padding: 0 0 32px;

    .projects__title {
      text-align: left;
    }

    .cover__project {
      position: relative;
    }

    .projects__container {
      position: absolute;
      top: 50px;
      right: 0;
      left: 600px;
      bottom: 0;
      border-radius: 10px;
      margin: 0 auto;
      width: 30%;
      height: 400px;
      background: #fff;
      padding: 40px 32px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
@media (min-width: 1200px) {
  .projects {
    .cover__project {
      position: relative;
    }

    .projects__container {
      position: absolute;
      top: 80px;
      right: 0;
      left: 790px;
      bottom: 0;
      border-radius: 10px;
      margin: 0 auto;
      width: 30%;
      height: 400px;
      background: #fff;
      padding: 40px 32px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
