.projects {
  padding: 0 10px 70px;
  text-align: justify;
  font-family: "Montserrat";

  .projects__title {
    color: #7a7a7a;
    text-align: center;
  }
  .projects__container {
    .projects__parrafo {
      line-height: 1.85714285714286;
    }
    .projects__btn {
      cursor: pointer;
      border-radius: 20px;
      padding: 10px 15px;
      border: solid 1px #c4c4c4;
      color: #7a7a7a;
      text-decoration: none;
    }
  }
}

/*--------------------------------------------------------------*/
@media (min-width: 480px) {
  .projects {
    padding: 0 16px 70px;
    .projects__title {
      font-size: 30px;
    }
    .projects__parrafo {
      font-size: 16px;
    }
  }
}

@media (min-width: 881px) {
  .projects {
    padding: 0 32px;
    .projects__title {
      text-align: left;
    }
    .projects__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .projects__paragraph {
        width: 80%;
      }
      .projects__btn {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      .projects__btn:hover {
        background-color: #106610;
      }
    }
  }
}
