.projects {
  text-align: justify;
  font-family: "Montserrat";

  .cover__project {
    img {
      width: 100%;
    }
    .projects__container {
      padding: 0 10px;
      .projects__title {
        text-align: center;
        margin: none;
      }
      .projects__paragraph {
        line-height: 2;
      }

      .hand {
        line-height: 2;
        display: flex;
        flex-direction: column;
        .hand_btn {
          text-decoration: none;
          color: #7a7a7a;
        }
        .btn {
          .projects__btn {
            text-align: center;
            background-color: #4caf50;
            border: none;
            color: white;
            margin: 20px 0;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 20px;
            max-width: 236px;
          }
        }
      }
    }
  }
}
/*--------------------------------------------------------------*/
@media (min-width: 480px) {
  .projects {
    .cover__project {
      .projects__container {
        .projects__title {
          font-size: 30px;
        }
        .projects__paragraph {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .projects {
    .cover__project {
      position: relative;
      min-width: 500px;
      .projects__container {
        position: absolute;
        top: 10px;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 20px;
        margin: 0 auto;
        width: 90%;
        height: 320px;
        background: #fff;
        padding: 20px 32px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .projects__title {
          text-align: left;
        }

        .hand {
          .btn {
            .projects__btn {
              background-color: #4caf50;
              border: none;
              color: white;
              margin-top: 40px;
              padding: 10px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .projects {
    .cover__project {
      position: relative;
      .projects__container {
        position: absolute;
        top: 50px;
        right: 0;
        left: 600px;
        bottom: 0;
        border-radius: 10px;
        margin: 0 auto;
        width: 30%;
        height: 400px;
        background: #fff;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .projects__title {
          text-align: left;
        }
        .hand {
          .btn {
            text-align: center;
            .projects__btn {
              margin-top: 1px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1137px) {
  .projects {
    .cover__project {
      .projects__container {
        .hand {
          .btn {
            margin-top: 30px;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .projects {
    .cover__project {
      position: relative;

      .projects__container {
        position: absolute;
        top: 80px;
        right: 0;
        left: 790px;
        bottom: 0;
        border-radius: 10px;
        margin: 0 auto;
        width: 30%;
        height: 400px;
        background: #fff;
        padding: 40px 32px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .projects {
    .cover__project {
      position: relative;

      .projects__container {
        position: absolute;
        top: 130px;
        right: 0;
        left: 790px;
        bottom: 0;
        border-radius: 10px;
        margin: 0 auto;
        width: 30%;
        height: 350px;
        background: #fff;
        padding: 40px 32px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
}
