* {
  margin: 0;
  padding: 0;
}

.category {
  padding: 0 10px;

  .category__items {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #f7f7f7;
    padding-bottom: 20px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
    .category__images {
      img {
        width: 100%;
      }
    }
    .category__description {
      text-align: center;
      padding: 32px 32px 20px;
      .category__title {
        margin: 10px;
      }
      .botton {
        @include botton;
        margin: 20px;
      }
    }
  }
}

@media (min-width: 468px) {
  .category {
    padding: 64px 24px;
    .category__items {
      margin-bottom: 10px;
      .category__images {
        img {
          height: 250px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .category {
    padding: 20px 40px;
    .category__items {
      margin-bottom: 40px;

      .category__images {
        img {
          height: 250px;
        }
      }
    }
  }
}
