.services {
  padding: 0 10px 70px;
  h1 {
    font-size: 24px;
    line-height: 1.5;
  }
  .services__img {
    .service__ico {
      display: flex;
      padding-top: 15px;
      img {
        width: 40px;
      }
      p {
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }
}
