.triangulo {
  //background: chartreuse;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .triangulo__container {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 50px solid;
    color: #7a7a7a;
  }
}
